
<footer>
    <div class="container footer">
       
    </div>
</footer>

<style>
    footer{
        background-image: url("/footer.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer{
      height: 200px;
    }
</style>