---
import NovelCard from "../components/NovelCard";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="p-8">
    <div class="grid grid-cols-5 px-8 gap-6">
      <NovelCard
        title={"my novel"}
        img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
      /> <NovelCard
      title={"my novel"}
      img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
    /> <NovelCard
    title={"my novel"}
    img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
  /> <NovelCard
  title={"my novel"}
  img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/> <NovelCard
title={"my novel"}
img={"https://th.bing.com/th?id=OIF.CDKaJ3GVbHq%2b0mYd1z8bEA&pid=ImgDet&rs=1"}
/>
    </div>
  </div>
</MainLayout>
