---
import MainLayout from "../layouts/MainLayout.astro";
import Intro from "../components/Intro.astro";
import NovelCard from "../components/NovelCard";
// import NovelCluster from "../components/NovelCluster.jsx";

---

<MainLayout>
  <Intro />
  <!-- <NovelCluster title={"new Arival"} items={""} client:load /> -->
  <div class="grid grid-cols-5 gap-1 mx-8 mt-8 p-16">
    <NovelCard
      title={"A WIll Eternal"}
      img={"https://th.bing.com/th/id/R.a0fe91e5c8f39202980a92a28a638828?rik=nYA1FuyZdzZtpA&pid=ImgRaw&r=0"}
      to={"/novel"}
    />
  </div>
</MainLayout>
