---
import MainLayout from "../layouts/MainLayout.astro";
import Intro from "../components/Intro.astro";
import NovelCluster from "../components/NovelCluster";
import Header from "../components/Header.astro";
---

<MainLayout>
  <Header />
  <div class="md:px-26 lg:px-40 px-4">
    <Intro />
    <NovelCluster title="New Books" items={""} />
    <NovelCluster title="Popular Books" items={""} />
    <NovelCluster title="Top Books" items={""} />
    <NovelCluster title="Original Books" items={""} />
  </div>
</MainLayout>
