---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="p-8">
    <div class="p-8 bg-white rounded-md grid-cols-12 grid">
      <div class="col-span-2">
        <img
          src="https://th.bing.com/th/id/OIP.mICfQi094FRiMAQuVlkc4QHaKw?pid=ImgDet&w=720&h=1046&rs=1"
          alt="Astro Logo"
          style="
        height : 300px;
       
        "
          class="rounded-md shadow-md hover:opacity-75 transition"
        />
      </div>
      <div class="col-span-8">
        <h1 class="text-sky-500 font-bold text-2xl">Dragon Prince</h1>
        <h3>
          Author : <span class="text-gray-500">Aaron Ehasz</span>
        </h3>
        <div class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          officiis, temporibus ipsum excepturi sunt soluta! Repudiandae incidunt
          at excepturi quod veniam nobis neque sit. Harum molestiae dolorem
          necessitatibus consectetur delectus molestias aperiam nihil nam labore
          cum dolorum quaerat inventore nesciunt esse ratione fugiat earum
          repellat reiciendis aliquam fuga id, sapiente doloribus eius sunt?
          Molestias optio dignissimos delectus mollitia veritatis, asperiores
          voluptatibus nostrum commodi ex maxime, nobis blanditiis ipsum
          provident obcaecati modi temporibus quod eum fugiat reiciendis
          deserunt atque! Veniam expedita nesciunt, incidunt molestias
          reprehenderit dignissimos, eum iusto, debitis ducimus autem nisi
          voluptas voluptates nihil odit sed sunt dolor consectetur cumque?
        </div>
        <div class="mt-4">
          <a
          href="/reader"
            class="bg-sky-500 text-white px-4 py-2 rounded-md shadow-md hover:opacity-75 transition"
          >
            Start Reading
        </a>
        </div>
      </div>
    </div>
    <div class="p-8 bg-white">
      <h2 class="text-2xl font-bold">Chapter List</h2>
      <div>
        <div class="mt-12">
          <div class="mt-2">
            <h2
            class="text-sky-500 font-bold text-xl hover:underline cursor-pointer hover:animate-bounce"
            >
              Chapter 1 : Epilogue
            </h2>
          </div>
          <div class="mt-2">
            <h2
            class="text-sky-500 font-bold text-xl hover:underline cursor-pointer hover:animate-bounce"
            >
              Chapter 2 : Shaking the Heavens
            </h2>
          </div>
          <div class="mt-2">
            <h2
            class="text-sky-500 font-bold text-xl hover:underline cursor-pointer hover:animate-bounce"
            >
              Chapter 3 : Primodial Essence
            </h2>
          </div>
          <div class="mt-2">
            <h2
            class="text-sky-500 font-bold text-xl hover:underline cursor-pointer hover:animate-bounce"
            >
              Chapter 4 : The Dragon Prince
            </h2>
          </div>
          <div class="mt-2">
            <h2
              class="text-sky-500 font-bold text-xl hover:underline cursor-pointer hover:animate-bounce"
            >
              Chapter 5 : An Empty Throne
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
