---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="p-8">
    <div class="grid grid-cols-12">
      <div class="col-span-1">
        <!-- reserved for sidebar -->
      </div>
      <div class="col-span-8 bg-white p-4 mt-12">
        <div class="mb-20 mt-12 ml-12">
          <h1 class="text-3xl font-bold text-slate-500">Shaking the Heavens</h1>
          <p class="text-slate-400">Chapter 132</p>
        </div>

        <div class="ml-12 mr-8 font-sans text-lg leading-9 text-slate-600">
          The spectacle of many gods appearing in the Sea Realm last time might
          have occurred during the last ominous battle. However, today, in the
          Graveyard of Gods, all the gods gathered at the goddess' star tomb.
          The majestic divine shadows were extremely solemn. Anyone who saw this
          scene would be shocked. As for Han Fei, he stood up calmly and cupped
          his hands. “Seniors, I didn't expect you to pay so much attention to
          me. In that case, I'll get straight to the point.” Han Fei was
          slightly surprised, but not much surprised. The Graveyard of Gods was
          full of buried gods. If their remnant souls were still here, they
          might pay attention to him, or they probably didn't just pay attention
          to him, but to everyone. At this moment, a god couldn't wait. “Boy,
          you said you could help us enter the cycle of reincarnation? Are you
          serious?” Confidently, Han Fei raised his head and looked at the god
          who spoke. “I am the current Human Emperor, Han Fei. I always keep my
          word. If I say I can help you enter the cycle of reincarnation, I
          can.” A god said, “Why should I believe you?” Han Fei sneered.
          “Senior, do you have a choice? How long have you been sleeping here?
          Do you have any hope of reincarnation? If you do, you won't be willing
          to choose a successor and try to pass on all your knowledge.” Ads by
          Pubfuture A god said, “Since the Primordial Era, the Path of
          Reincarnation has been severed. No one in the Age of the Gods dares to
          say that they can enter it, but now you said you could help us enter
          it within a thousand years. Boy, have you learned any news about the
          Path of Reincarnation?” Han Fei wondered if he should tell them about
          the Reincarnation Road. However, this was a serious matter. If he told
          them that the Reincarnation Road was with him, it might cause trouble.
          Han Fei said proudly, “Apart from being Human Emperor, I am also a
          disciple of the Void Temple. I don't know if you know of the Void
          Temple, but as far as the Eternal Race are concerned, they don't dare
          to mess with our Void Temple. I can reveal some information to you.
          The Void Temple has already grasped some secrets about the Path of
          Reincarnation. I wonder if this information can make you give up
          giving them your inheritances?” Buzz ~ Buzz ~ For a moment, the gods'
          momentum soared to the sky, their divine persona collided with each
          other, and they seemed excited. “We know about the Void Temple.” “Han
          Fei, you've just grasped some secrets about the Path of Reincarnation.
          Are you sure that you can reopen the Path of Reincarnation in a
          thousand years?” Han Fei said indifferently, “The Void Temple has
          never lied. Now, the ominous is stirring, and some are already
          returning. But now, the gods in the Sea Realm and even the Sea of
          Stars have withered. Do you think the current Sea Realm can resist the
          ominous?” “What? The ominous has returned?” Han Fei said, “Before I
          came to the Graveyard of Gods, I had killed hundreds of thousands of
          destruction-level ominous creatures.” Ads by Pubfuture “The time won't
          be enough.” “No, there's still time. It will take at least tens of
          thousands of years for the dominator-level ominous creatures to
          return. However, if this is the case, when the Path of Reincarnation
          opens, we can't take a new path. We have to take our own old paths and
          return to our original divine position. That way, there's still time.”
          “It's all that damn Eternal Race's fault. If I return to my divine
          position after reincarnation, I'll definitely fight this race to the
          death.” The gods discussed animatedly, and the goddess' eyes flickered
          as if she was thinking about something else. Han Fei said, “Seniors,
          apart from the people of the Void Temple, only you know this news.
          Apart from that, no third party knows. I'm telling you this because
          firstly, I want you to be mentally prepared. Secondly, most of those
          people just now came from the Central Sea Divine Realm. These people
          slaughtered 70 billion people of our human race. I, Han Fei, am
          irreconcilable with them. As the saying goes, one has to be safe
          inside when fighting outsiders. Therefore, I must kill these people.
          Not just these people, I will kill my way into the Central Sea Divine
          Realm sooner or later. Therefore, it's not that I don't give you face,
          but they are not worthy of inheriting your inheritances.” At this
          moment, killing intent surged from Han Fei. The gods knew that Han Fei
          was serious. A god declared, “This matter will never reach the ears of
          a third party. The Graveyard of Gods is not a place anyone can come
          to. If the Path of Reincarnation can be reopened in only a thousand
          years, we won't sleep anymore. A mere thousand years is nothing to
          us.” A god echoed, “We are all people waiting for death. We will
          definitely not tell others about the Path of Reincarnation.” Han Fei
          said, “Of course I trust you, seniors. Otherwise, I wouldn't have told
          you this.” A god said, “Little friend Han Fei, your human race has
          lost 70 billion lives and you want to avenge them. We can understand
          your feelings. However, can you be sure that these people are all your
          enemies? There are always good and evil creatures in this world.
          Although these people are not as talented as you, they have made it
          here with luck, strength, and temperament. Do you want to kill them
          all?” Han Fei stroked his chin. “If you insist on choosing your
          inheritors from these people, please set a test for them. Anyone who
          is hostile to our human race, can't take the inheritances! Because
          sooner or later, I will kill them. By the way, the people who came in
          with me grew up with me and became strong with me. They have
          cultivated for less than a thousand years but have are become peerless
          Heavenly Talents. I believe even if I don't say it, you should be able
          to feel their talent.”
        </div>
      </div>
      <div class="col-span-3">
        <!-- reserved for comment section -->
      </div>
    </div>
  </div>
</MainLayout>
