<div class="mx-8 mt-8 bg-gray-200 h-64 rounded-lg shadow p-8">
  <h1 class="mb-8 text-sky-500 font-bold text-2xl">Welcome to Novelica. A home of populer novels.</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim delectus illum
    eum quo culpa vitae, iusto modi deserunt facilis nulla. Deleniti dicta omnis
    soluta beatae facilis magnam fugit non pariatur iure labore quaerat,
    cupiditate assumenda esse similique distinctio. Perspiciatis impedit
    blanditiis, iusto facere aperiam natus harum quaerat expedita tempora porro
    nihil. Aspernatur quidem corrupti dolorem aperiam voluptate asperiores
    accusamus esse ab quibusdam corporis perferendis amet sed vitae, magnam
    tenetur ut similique commodi laborum accusantium facere molestiae, non error
    tempore? Ipsum nihil officia eaque, a veniam, repellendus ex architecto
    delectus ut numquam vel sit ipsa accusamus maxime eveniet obcaecati
    voluptatibus similique.
  </p>
</div>
